.listaBalances{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
    margin-top: 10px;
}

.elBalance{
    display: flex;
    list-style: none;
    background: linear-gradient(to right, #ffffff, #1b1a47);
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: bold;
}

.balancePos{
    color: green;
}

.balanceNeg{
    color: red;
}